<h1>Carpooling</h1>
<h3>Locations:</h3>
<ul>
<% @locations.each do |location|%>
  <li><%= link_to "#{location.name}", location_path(location) %></li>
<% end %>
</ul>

<h3>Routes:</h3>
<ul>
<% @routes.each do |route|%>
  <li><%= link_to "#{route.name}", route_path(route) %></li>
  <% end %>
</ul>

